<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.onest.go2school.dao.ManagerMapper">

<!-- 配置结果映射，就是表里面的字段赋给类中的那个属性 -->
<resultMap type="Manager" id="managerMap">
	<id column="manager_id" property="managerId"></id>
	<result column="manager_name" property="managerName"/>
	<result column="manager_password" property="managerPassword"/>
	<result column="manager_email" property="managerEmail"/>
	<result column="manager_img" property="managerImg"/>
	<result column="manager_tel" property="managerTel"/>
</resultMap>

	<!-- 验证登录 -->
	<select id="login" resultMap="managerMap" >
		select * from manager 
		where manager_name=#{managerName} and
		manager_password=#{managerPassword};
	</select>
	
	<!-- 修改管理员信息 -->
	<update id="updateManagerById">
		update manager
		set manager_name=#{managerName},
		 manager_password=#{managerPassword},
		 manager_email=#{managerEmail},
		 manager_tel=#{managerTel}
		where manager_id=#{managerId}
	</update>

</mapper>